body {
  background-color: #3D1255;
}

h1 {
  text-align: center;
  color: #D4D46a;
  font-family: 'Pangolin', cursive;
}

h3 {
  text-align: center;
  color: #260339;
  font-family: 'Pangolin', cursive;
}

h4 {
  color: #260339;
  font-family: 'Pangolin', cursive;
  line-height: 1.5;
}

#questionHere{
text-align: center;
}



.jumbotron {
  background-color: #AAAA39;
  padding: 10px;
}

#correctAnswer {
    font-family: 'Pangolin', cursive;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.btn {
  color: #AAAA39;
  margin-top: 15px;
  font-size: 25px;
  padding: 15px;
}

.newButton {
  background-color: #3D1255;
  font-family: 'Pangolin', cursive;
  text-align: center
}
